body{
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* fondo */
.bg-full{
  position: fixed;
  inset: 0;
  background-image: url("./media/craftsbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

/* botón volver */
.back-button,
.home-btn{
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;

  color: #1a73e8;
  text-decoration: underline;
  font-size: 16px;
  font-family: inherit;
}

/* contenedor general */
.stage{
  position: relative;
  z-index: 2;
  min-height: 100vh;
}

/* video pequeño */
.craft-video{
  position: absolute;
  top: 120px;
  left: 30%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 0px;
}

/* fotos pequeñas */
.photo{
  position: absolute;
  top: 120px;
  left: 30%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  z-index: 3;
}

/* posiciones de cada foto */
.p1{
  top: 260px;
  left: 80px;
}

.p2{
  top: 180px;
  right: 100px;
}

.p3{
  top: 480px;
  left: 180px;
}

.p4{
  top: 420px;
  right: 140px;
}
