body{
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* fondo */
.bg-full{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh; /* más alto que la pantalla */

  background-image: url("./media/craftsbg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  z-index: 0;
}

/* botón volver */
.back-button,
.home-btn{
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1000;

  color: #1a73e8;
  text-decoration: underline;
  font-size: 16px;
  font-family: inherit;
}

/* contenedor principal */
.stage{
  position: relative;
  z-index: 2;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  padding-top: 120px;
}

/* video cuadrado */
.craft-video{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* fotos cuadradas */
.photo{
  width: 200px;
  height: 200px;
  object-fit: cover;
}
