/* quitar márgenes blancos */
body{
  margin:0;
  background:#111;
  font-family:sans-serif;
}

/* grid tipo galería móvil (sin huecos) */
.galeria{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap:0;
}

/* imágenes */
.galeria img{
  width:100%;
  height:180px;
  object-fit:cover;
  display:block;
  transition: transform .2s ease;
}

/* efecto bonito opcional */
.galeria img:hover{
  transform: scale(1.03);
}

