/* quitar márgenes blancos */
body{
  margin:0;
  background:#111;
  font-family:sans-serif;
}

/* grid tipo galería móvil (sin huecos) */
.galeria{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap:0;
}

/* imágenes */
.galeria img{
  width:100%;
  height:180px;
  object-fit:cover;
  display:block;
  transition: transform .2s ease;
}

/* efecto bonito opcional */
.galeria img:hover{
  transform: scale(1.03);
}
/* botón hamburguesa */
/* botón imagen menú */
.menu-btn{
  position:fixed;
  top:15px;
  left:15px;
  z-index:1001;

  width:44px;          /* 🔥 tamaño REAL del botón */
  height:44px;

  background:none;
  border:none;
  padding:0;
  cursor:pointer;

  overflow:hidden;     /* 🔥 evita que la imagen se desborde */
}

/* imagen dentro del botón */
.menu-btn img{
  width:100%;          /* 🔥 ocupa solo el botón */
  height:100%;
  object-fit:contain;
  display:block;
}


/* sidebar */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  width: 145px;          /* ancho del sidebar */
  height: 100%;

  background-image: url("./media/sidebar.jpg"); /* 👈 TU IMAGEN */
  background-size: cover;        /* cubre todo el sidebar */
  background-position: center;   /* centrada */
  background-repeat: no-repeat;

  padding: 20px;
  padding-top: 80px;    /* baja los links para que no choquen con el icono */

  transform: translateX(-100%);
  transition: transform .3s ease;

  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar{
  position: relative;
}

.sidebar::before{
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5); /* ajusta 0.3–0.6 */
  z-index: -1;
}


.sidebar.open{
  transform: translateX(0);       /* 🔥 entra */
}

.sidebar a{
  color:#1a73e8;              /* azul tipo link */
  text-decoration: underline;
  font-size:13px;             /* pequeño como querías */
  font-family: Arial, sans-serif;
  margin:6px 0;
}
