body{
  margin:0;
  background:#111;
}

/* grid compacto tipo galería móvil */
.galeria{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap:0;
}

.galeria img{
  width:100%;
  height:180px;
  object-fit:cover;
  display:block;
}
